<?xml version = "1.0" encoding = "utf-8"?>
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.connection.url">jdbc:postgresql://localhost:5432/automarket</property>
        <property name = "hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name = "hibernate.connection.username">postgres</property>
        <property name = "hibernate.connection.password">password</property>
        <property name = "hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.connection.charSet">UTF-8</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>

        <property name="hbm2ddl.auto">create</property>
        <!-- List of XML mapping files -->

        <!--<mapping resource = "ru.job4j.xmlmappedmodel/User.cfg.xml"/>-->
        <!--<mapping resource = "ru.job4j.xmlmappedmodel/Role.cfg.xml"/>-->
        <!--<mapping resource = "ru.job4j.xmlmappedmodel/Advertisement.cfg.xml"/>-->
        <!--<mapping resource = "ru.job4j.xmlmappedmodel/Car.cfg.xml"/>-->
        <!---->

        <mapping class="ru.job4j.models.annotatedmodels.User"/>
        <mapping class="ru.job4j.models.annotatedmodels.Car"/>
        <mapping class="ru.job4j.models.annotatedmodels.Role"/>
        <mapping class="ru.job4j.models.annotatedmodels.Advertisement"/>

    </session-factory>
</hibernate-configuration>